# VITE_API_URL=https://api.aydinmhd.org/v1
# VITE_SOME_SECRET=your_secret_here

# Any environment variable starting with VITE_ will be exposed to the client-side code.
# Sensitive keys (like database passwords) should NOT start with VITE_ and should only be used in server-side logic (if applicable).
